@using Demo.UI.Models
@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="col-md-4">
        <h2>Administracja</h2>
        <p>
            @Html.ActionLink("Produkty", "Index", "Products")
        </p>
        <p>
            @Html.ActionLink("Kategorie", "Index", "ProductCategories")
            @*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>*@
        </p>
        <p>
            @Html.ActionLink("Podkategorie", "Index", "ProductSubcategories")
        </p>
        <p>
            @Html.ActionLink("Jednostki miar", "Index", "UnitsMeasure")
        </p>
        <p>
            @Html.ActionLink("Lokalizacje", "Index", "Locations")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Raporty</h2>
       
    </div>
    <div class="col-md-4">
        <h2>API</h2
        <p>
            <a href="@(Consts.SqlApiRootUrl + "products")">api/Products/Get</a>
        </p>
        <p>
            <a href="@(Consts.SqlApiRootUrl + "productcategories")">api/ProductCategories/Get</a>
        </p>
        <p>
            <a href="@(Consts.SqlApiRootUrl + "productsubcategories")">api/ProductSubcategories/Get</a>
        </p>
        <p>
            <a href="@(Consts.SqlApiRootUrl + "unitsmeasure")">api/UnitsMeasure/Get</a>
        </p>
        <p>
            <a href="@(Consts.SqlApiRootUrl + "locations")">api/Locations/Get</a>
        </p>
    </div>
</div>