@using Demo.UI.Models
@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="col-md-3">
        <h2>Administracja</h2>
        <p>
            @Html.ActionLink("Produkty", "Index", "Products")
        </p>
        <p>
            @Html.ActionLink("Kategorie", "Index", "ProductCategories")
            @*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>*@
        </p>
        <p>
            @Html.ActionLink("Podkategorie", "Index", "ProductSubcategories")
        </p>
        <p>
            @Html.ActionLink("Jednostki miar", "Index", "UnitsMeasure")
        </p>
        <p>
            @Html.ActionLink("Lokalizacje", "Index", "Locations")
        </p>
        <p>
            @Html.ActionLink("Stany produktów", "Index", "ProductInventories")
        </p>
    </div>
    <div class="col-md-3">
        <h2>Raporty</h2>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/raports/products/groupByProductSubcategoryId")">Produkty pogrupowane po id podkategorii: <br/>/products/groupByProductSubcategoryId</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/raports/productInventories/groupByProductId")">Stany produktów pogrupowane po id produktu: <br/>/productInventories/groupByProductId</a>
        </p>

    </div>
    <div class="col-md-6">
        <h2>Przykłady</h2>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/subcategories?term=Road")">1. Wyszukiwanie podkategorii produktów zawierających słowo kluczowe "Road" w nazwie: <br />/subcategories?term=Road</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/categories?name=C")">2. Filtrowanie kategorii, których nazwa rozpoczyna się od "C": <br/>/categories?name=C</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/griddata/subcategories?firstTerm=Components&secondTerm=Bikes")">3. Filtrowanie podkategorii po nazwie kategorii przy użyciu Where i In: <br/>/subcategories?firstTerm=Components&secondTerm=Bikes</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/griddata/products?listPriceMoreThan=500")">4. Produkty z ceną większą niż 500, posortowane malejąco względem ceny: <br/>/products?listPriceMoreThan=500"</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/griddata/subcategories?name=Bi")">5. Wyszukiwanie podkategorii po nazwie rozpoczynającej się od "Bi": <br/>/subcategories?name=Bi</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/griddata/subcategories?term=Bikes Frames")">6. Podkategorie wyszukiwane po nazwie "Bikes Frames": <br/>/subcategories?term=Bikes Frames</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/products?name=Chain Washer&color=Silver")">7. Produkty wyszukiwane po nazwie zawierające "Chain" lub "Washer" lub kolorze "Silver": <br/>/products?name=Chain Washer&color=Silver</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/products/boost")">8. Produkty wyszukiwane po nazwie lub kolorze z wykorzystaniem boost: <br/>/products/boost</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/products/searchOption")">9. Produkty wyszukiwane po nazwie i kolorze z wykorzystaniem searchOption: <br/>/products/searchOption</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/griddata/subcategories?id=ProductSubcategories/25")">10. Podkategoria po id: <br/>/subcategories?id=ProductSubcategories/25</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/griddata/subcategories/category?name=F")">11. Podkategorie po nazwie kategorii zaczynającej się od "F" z relacjami: <br/>/subcategories/category?name=F</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/products/byNameAndColorAndProductNumber")">12. Projekcja produktów z użyciem Select: <br/>/products/byNameAndColorAndProductNumber</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/products/ByNameAndSubcategoryNameAndColorAndProductNumber?search=b")">13. Projekcja produktów z użyciem ProjectFromIndexFieldsInto: <br/>/products/ByNameAndSubcategoryNameAndColorAndProductNumber?search=b</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/products/subcategories?name=M")">14. Projekcja produktów z użyciem OfType: <br/>/products/subcategories?name=M</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/griddata/productInventories?place=A 6")">15. Spis wszystkich produktów w schowku "A" i pojemniku "6": <br/>/productInventories?place=A 6</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/griddata/products/subcategories?name=M")">16. Produkty których nazwa podkategorii rozpoczyna się od "M": <br/>/products/subcategories?name=M"</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/griddata/products?year=2007")">17. Produkty wyszukiwane po roku rozpoczęcia sprzedaży równym "2007": <br/>/products?year=2007</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/raports/products/groupByProductSubcategoryId")">18. Produkty pogrupowane po id podkategorii: <br />/products/groupByProductSubcategoryId</a>
        </p>
        <p>
            <a href="@(Consts.RavenApiRootUrl + "examples/raports/productInventories/groupByProductId")">19. Stany produktów pogrupowane po id produktu: <br />/productInventories/groupByProductId</a>
        </p>

    </div>
</div>