@model Demo.UI.Models.LogInUserModel

@{
    ViewBag.Title = "Logowanie";
}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/login.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@

<section id="loginForm">
<h2>Logowanie</h2>
    <fieldset>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.EditorFor(m => m.Login)
            @Html.EditorFor(m => m.Password)

            <label class="checkbox col-lg-12">
                @Html.CheckBoxFor(x => x.RememberMe, new { @class = "remCheckbox" }) @Html.LabelFor(x => x.RememberMe, new { @class = "rememberMeCheck" })
            </label>

            <button class="btn btn-primary btn-lg btn-block " type="submit">Zaloguj</button>
        }
    </fieldset>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
